# Dependencies
node_modules/

# Build output
dist/
target/

# Logs
logs
*.log
npm-debug.log*

# Editor directories and files
.vscode/*
!.vscode/svelte.code-workspace
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Tauri
src-tauri/target/

# Environment
.env
.env.local
